{% extends "main.html" %} {% block verse%} {{ verse }} {% endblock %} 
{% block content %}

<h1>Climate Data</h1>

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="row">
  {% for weather in weathers %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Temperatura: {{ weather.temperature }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          Data: {{ weather.date }} <br />
          Cidade : {{ weather.city }} <br />
          Pressão Atmosférica : {{ weather.atmosphericPressure }} <br />
          Umidade: {{ weather.humidity }} <br />
          Tempo: {{ weather.weather }} <br />
        </p>
      </div>
      <div class="card-footer bg-light">
        <button class="btn btn-danger btn-sm float-right" type="submit">
          Delete
        </button>
        <button class="btn btn-sm float-right" type="submit">
          Edit
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
